<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" height="225"
    [src]="productItem.imageUrl" />
  <div class="card-body">
    <p class="card-text">
      <strong>{{ productItem.price | currency:"IDR" }}</strong>
    </p>
    <p class="card-text"> {{ productItem.name }}</p>
    <p class="card-text"> {{ productItem.description | slice: 0:50}} ...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add To Chart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Detail</button>
      </div>
    </div>
  </div>
</div>
