<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://asset.kompas.com/crops/OShkHBI40cCFj6mMFFcYmhbhBaw=/187x12:1126x638/750x500/data/photo/2020/06/12/5ee2bae6901d6.jpg"/>
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam odio amet corporis voluptatum suscipit quibusdam qui ducimus, officiis mollitia ab, accusantium aliquid commodi consequuntur. Voluptatibus temporibus fugit ut eaque debitis.</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>
  </div>
